<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar filme</title>
    <link rel="icon" type="image/x-icon" href="">
</head>
<body>
    <div class="container">

        <h2>Deletar Filme</h2>

        <form action="/deletar" method="POST">
            <label class='label1'>Insira o Nome do Filme que deseja deletar:</label><input type="text" class="form-control" name="nome_filme"/>
            <br>
            <button class="btn btn-danger">Deletar</button>
        </form>

        <br/>
        
        <a href="/" class="btn btn-danger">Voltar</a>
        
    </div>
</body>
</html>